#okrLayout {
  position: relative;
  background-color: #fff;
  min-height: 300px;
  box-sizing: border-box;
  padding: 32px;
  padding-bottom: 48px;

  .titleIcon {
    margin-right: 15px;
    color: @primary-color;
  }
}

.itemLayout {
  box-sizing: border-box;
  padding: 4px 8px;
  margin-bottom: 16px;

  .title {
    font-weight: bold;
    margin-bottom: 8px;
  }

  .panel {
    box-sizing: border-box;
    padding: 16px 5%;
  }
}

.nothing {
  text-align: center;
  margin: 48px auto;
  font-size: 18px;
  font-weight: bold;
}

#editForm {
  margin-top: 32px;
}
