#layout {
  .trigger {
    font-size: 18px;
    line-height: 64px;
    padding: 0 24px;
    cursor: pointer;
    transition: color .3s;

    &:hover {

    }
  }

  .logo {
    height: 40px;
    // background: rgba(255,255,255,.1);
    margin: 16px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 32px;
  }
}
