#layout {
  transition: all 0.2s;
}

#logoLayout {
  background: #FAAD14;
  box-sizing: border-box;
  padding: 16px 0;
  margin-bottom: 16px;

  .logo {
    height: 40px;
    // background: rgba(255,255,255,.1);
    margin: 16px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto 100%;
  }
}
